body {
  font-family: 'Montserrat', sans-serif;
  margin-left: 165px;
  margin-right: 165px;
  margin-top: 80px;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
}

.header{
  border-bottom: 1px solid #EAEAEA;
  
}
.publisher{
  display: flex;
  align-items: center; 
  gap: 12px;   
 
}

.container{
  display: block;
}

.container > * {
  margin-bottom: 54px;
}

.secondContainer {
 display: flex;
 align-items: flex-start;
}

.paragraf{
  width: 546px;
}

.thirdContainer{
  height: 347px;
  width: 1110px;
  background-color: #ECF1F8;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fourthContainer{
 display: flex;
 align-items: flex-start;
 gap: 24px;
}

.video {
  background-image: url(../img/video.png);
  height: 624px;
  width: 1110px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.path{
  display: flex;
  flex-direction: column;
  align-items: center;
}
